.boton {
  width: 250px;
  height: 250px;
  font-size: 32px;
  font-weight: bold;
  color: var(--color-text);
  border-radius: 20px;
  border: 10px solid var(--color-borde);
  background-color: var(--color-botones);
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 20px;
}

.boton-seguridad {
  width: 350px;
  height: 250px;
}
.arriba {
  border-radius: 20px 20px 0 0;
  border-bottom: 5px solid var(--color-borde);
}

.abajo {
  border-radius: 0 0 20px 20px;
  border-top: 5px solid var(--color-borde);
}

.divisor {
  height: 5px;
  width: 100%;
  background-color: var(--color-borde);
}