.dispositivo-card {

  position: relative;

  width: 350px;
  height: 250px;

  box-sizing: border-box;

  border-radius: 20px;

  border: 10px solid
    var(--color-borde);

  display: flex;

  flex-direction: column;

  justify-content: flex-start;
  align-items: center;

  padding-top: 20px;

  transition: 0.2s;
}

/* NOMBRE */

.nombre-dispositivo {

  position: absolute;

  top: 15px;

  color: var(--color-texto);

  font-size: 28px;

  text-align: center;

  width: 100%;

  margin: 0;
}

/* ICONO */

.icono-dispositivo {

  position: absolute;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  width: 150px;
  height: 150px;

  display: flex;

  justify-content: center;
  align-items: center;
}

.icono-dispositivo svg {

  width: 100%;
  height: 100%;

  fill: var(--color-iconos);
}

/* SWITCH */

.switch {

  position: absolute;

  bottom: 8px;
  left: 50%;

  transform: translateX(-50%);

  display: inline-block;

  width: 80px;
  height: 34px;
}

.switch input {

  opacity: 0;

  width: 0;
  height: 0;
}

.slider {

  position: absolute;

  cursor: pointer;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: var(--color-borde);

  transition: .2s;

  border-radius: 34px;
}

.slider:before {

  position: absolute;

  content: "";

  height: 26px;
  width: 26px;

  left: 4px;
  bottom: 4px;

  background-color: white;

  transition: .4s;

  border-radius: 50%;
}

input:checked + .slider {

  background-color:
    var(--color-borde);
}

input:checked + .slider:before {

  transform: translateX(46px);
}

/* PANEL DERECHO */

.panel-acciones {

  position: absolute;

  right: 15px;
  top: 50%;

  transform: translateY(-50%);

  display: flex;

  flex-direction: column;

  align-items: center;

  gap: 20px;
}

/* BOTONES */

.accion-btn {

  width: 60px;
  height: 60px;

  border: none;

  background: transparent;

  display: flex;

  justify-content: center;
  align-items: center;

  cursor: pointer;

  transition: 0.2s;
}

.accion-btn:hover {

  transform: scale(1.08);
}

.accion-btn svg {

  width: 100%;
  height: 100%;

  fill: var(--color-botones-oscuro);
}

/* ESTADOS */

.activo,

.desactivado {

  background-color:
    var(--color-botones);
}