.card-dispositivo {

  display: flex;
  flex-direction: column;

  gap: 12px;
}

.dispositivo-card {

  width: 350px;
  height: 250px;

  border-radius: 20px;

  border: 5px solid
    var(--color-borde);

  display: flex;

  flex-direction: column;

  justify-content: center;
  align-items: center;

  gap: 20px;

  transition: 0.2s;
}

.dispositivo-card h2 {

  color: white;

  font-size: 28px;

  text-align: center;
}

.icono-dispositivo {

  font-size: 80px;
}

.activo {

  background-color:
    var(--color-fondo-claro);
}

.desactivado {

  background-color:
    var(--color-botones);
}

/* ACCIONES */

.acciones {

  display: flex;

  justify-content: center;
  align-items: center;

  gap: 10px;
}

.accion-btn {

  height: 45px;

  padding: 0 15px;

  border-radius: 12px;

  border: 3px solid
    var(--color-borde);

  background-color: white;

  font-weight: bold;

  cursor: pointer;

  transition: 0.2s;
}

.accion-btn:hover {

  transform: scale(1.03);
}

/* SWITCH */

.switch {

  position: relative;

  display: inline-block;

  width: 60px;
  height: 34px;
}

.switch input {

  opacity: 0;

  width: 0;
  height: 0;
}

.slider {

  position: absolute;

  cursor: pointer;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: #ccc;

  transition: .4s;

  border-radius: 34px;
}

.slider:before {

  position: absolute;

  content: "";

  height: 26px;
  width: 26px;

  left: 4px;
  bottom: 4px;

  background-color: white;

  transition: .4s;

  border-radius: 50%;
}

input:checked + .slider {

  background-color:
    var(--color-borde);
}

input:checked + .slider:before {

  transform: translateX(26px);
}