.switch{

  position:relative;

  display:inline-block;

  width:80px;

  height:40px;

}

.switch input{

  opacity:0;

  width:0;

  height:0;

}

.slider{

  position:absolute;

  inset:0;

  cursor:pointer;

  background:#CCCCCC;

  border-radius:34px;

  transition:.3s;

}

.slider:before{

  content:"";

  position:absolute;

  width:30px;

  height:30px;

  left:5px;

  top:5px;

  background:white;

  border-radius:50%;

  transition:.3s;

}

.switch input:checked + .slider{

  background:var(--color-borde);

}

.switch input:checked + .slider:before{

  transform:translateX(40px);

}

.accion-btn{

  width:38px;

  height:38px;

  border:none;

  background:transparent;

  cursor:pointer;

  transition:.2s;

  display:flex;

  justify-content:center;

  align-items:center;

}

.accion-btn:hover{

  transform:scale(1.08);

}

.accion-btn svg{

  width:24px;

  height:24px;

  fill:var(--color-iconos);

}