.overlay {

  position: fixed;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(
    0,
    0,
    0,
    0.4
  );

  display: flex;

  justify-content: center;
  align-items: center;

  z-index: 100;
}

.formulario-dispositivo {

  position: relative;

  width: 700px;

  min-height: 300px;

  background-color: var(--color-botones);

  border-radius: 20px;

  border: 10px solid var(--color-borde);

  padding: 30px;

  display: flex;

  flex-direction: column;

  gap: 25px;
}

.formulario-dispositivo h2 {

  color: var(--color-texto);

  font-size: 32px;
}

.formulario-dispositivo input {

  height: 55px;

  border-radius: 15px;

  border: 3px solid var(--color-borde);

  padding-left: 15px;

  font-size: 20px;
}

.acciones-formulario {

  display: flex;

  justify-content: center;
}

.btn-formulario {

  width: 220px;
  height: 60px;

  border-radius: 15px;

  border: 3px solid
    var(--color-borde-oscuro);

  background-color:
    var(--color-botones-oscuros);

  font-size: 22px;
  color: var(--color-texto);
  font-weight: bold;

  cursor: pointer;
}

.btn-cerrar {

  position: absolute;

  top: 15px;
  right: 15px;

  width: 45px;
  height: 45px;

  fill: var(--color-botones-oscuros);
  border: none;

  font-size: 20px;

  cursor: pointer;
}