.formulario {
  position: fixed;
  top: 50%;
  left: 50%;

  width: 1000px;
  min-height: 450px;

  transform: translate(-50%, -50%);
  background-color: var(--color-botones);

  padding: 20px;

  border-radius: 20px;
  border: 5px solid var(--color-borde);
  z-index: 100;
}

.formulario input {
  width: 100%;
  padding: 10px;

  border-radius: 10px;
  border: 3px solid var(--color-borde);

  background-color: white;
  font-size: 16px;
}

.botones-form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.botones-form button {
  width: 200px;
  height: 100px;

  color: var(--color-text);

  font-size: 30px;
  font-weight: bold;

  padding: 10px;

  border-radius: 20px;
  border: 5px solid var(--color-borde-oscuro);

  background-color: var(--color-botones-oscuros);
  cursor: pointer;
}