:root {
    --color-fondo-claro: #9CD5FF;
    --color-fondo-oscuro: #084283;
    --color-text: #9CD5FF;
    --color-botones: #084283;
    --color-botones-oscuros:#0C2B4E;
    --color-borde: #0C2B4E;
    --color-borde-oscuro: black;
    --color-iconos: #9CD5FF;
}

body {
  font-family: 'Roboto Flex', sans-serif;
  background-color: var(--color-fondo-claro);
  color: var(--color-text);
}

html,
body {
  margin: 0;
  padding: 0;
}