.layout {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #9CD5FF;
}

.layout-home {
  padding: 40px;
  gap: 27px;
}
.layout-seguridad {
  padding: 20%;
}

.columna {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.centro {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 500px;
}